@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
}

.mytitle {
  background-color: green;
  color: white;

  height: 250px;

  /* 내용물을 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://images.unsplash.com/photo-1511992243105-2992b3fd0410?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
}

.mytitle > button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;

  border: 1px solid white;
  margin-top: 20px;
}

.mycards {
  margin: 20px auto 20px auto;
  width: 1200px;
}

.mypostbox {
  width: 500px;
  margin: 20px auto 20px auto;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px blue;
}

.mybtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.mybtn > button {
  margin-right: 10px;
}
