@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

.container {
  margin-top: 100px;
}

.row {
  width: 1200px;
}

.add {
  width: 1200px;
  margin: 0px auto 50px auto;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.album {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 10px 0 10px;
}

.card-container {
  margin-bottom: 10px;
}
